@(message: String, aboutID: String, computers: List[Computer], configThisFile: String)(implicit messages: Messages)

@import controllers.princegroup.routes
@theModals = {

}

@views.html.princegroup.main(title = message, modals = theModals) {

@***************************
***<!-- content start -->***
***<!--关于OJI-->***
****************************@


<div class="nav-box">
    @*************
    **<!--左侧菜单-->**
    *****************@
    <div class="left-menus">
        <div>
            <a href="@routes.Application.about()">@Messages("princegroup.aboutoji")</a>
            <ul class="about-chan">
                <li @if(aboutID=="history"){class='lli-act'}><a href="@routes.Application.about("history")">@Messages("princegroup.about.history")</a></li>
                <li @if(aboutID=="groupdata"){class='lli-act'}><a href="@routes.Application.about("groupdata")">@Messages("princegroup.about.groupdata")</a></li>
                <li @if(aboutID=="architecture"){class='lli-act'}><a href="@routes.Application.about("architecture")">@Messages("princegroup.about.architecture")</a></li>
                <li @if(aboutID=="culture"){class='lli-act'}><a href="@routes.Application.about("culture")">@Messages("princegroup.about.culture")</a></li>
                <li @if(aboutID=="advantages"){class='lli-act'}><a href="@routes.Application.about("advantages")">@Messages("princegroup.about.advantages")</a></li>
            </ul>
        </div>
        <div><a href="@routes.Application.brands("")">@Messages("princegroup.brands")</a></div>
        <div><a href="@routes.Application.csr">@Messages("princegroup.csr")</a></div>
        <div><a href="@routes.Application.contact">@Messages("princegroup.contact")</a></div>
    </div>
    @***************
    **<!--右侧盒子-->**
    ****************@
    <div class="content-box">

        @aboutID match {
        case "advantages" => {
        @views.html.princegroup.abouts.advantages("")
        }
        case "architecture" => {
        @views.html.princegroup.abouts.architecture("")
        }
        case "culture" => {
        @views.html.princegroup.abouts.culture("")
        }
        case "groupdata" => {
        @views.html.princegroup.abouts.groupdata("")
        }
        case _ => {
        @views.html.princegroup.abouts.history("")
        }

        }




    </div>
</div>

}