@(message: String, aboutID: String, computers: List[Computer], configThisFile: String)(implicit messages: Messages)

@import controllers.princegroup.routes
@theModals = {

}

@views.html.princegroup.main(title = message, modals = theModals) {

@***************************
***<!-- content start -->***
***<!--关于OJI-->***
****************************@


<div class="thebox">
    @*************
    **<!--左侧菜单-->**
    *****************@
    <div class="about-left">
        <div>
            <a href="@routes.Application.about()">关于王子</a>
            <ul class="about-chan">
                <li @if(aboutID=="history"){class='lli-act'}><a href="@routes.Application.about("history")">发展历程</a></li>
                <li @if(aboutID=="groupdata"){class='lli-act'}><a href="@routes.Application.about("groupdata")">集团概况</a></li>
                <li @if(aboutID=="architecture"){class='lli-act'}><a href="@routes.Application.about("architecture")">组织架构</a></li>
                <li @if(aboutID=="culture"){class='lli-act'}><a href="@routes.Application.about("culture")">企业文化</a></li>
                <li @if(aboutID=="advantages"){class='lli-act'}><a href="@routes.Application.about("advantages")">核心优势</a></li>
            </ul>
        </div>
        <div><a href="@routes.Application.brands("")">旗下品牌</a></div>
        <div><a href="@routes.Application.csr">社会责任</a></div>
        <div><a href="@routes.Application.contact">联系我们</a></div>
    </div>
    @***************
    **<!--右侧盒子-->**
    ****************@
    <div class="about-right">

        @aboutID match {
        case "advantages" => {
        @views.html.princegroup.abouts.advantages()
        }
        case "architecture" => {
        @views.html.princegroup.abouts.architecture()
        }
        case "culture" => {
        @views.html.princegroup.abouts.culture()
        }
        case "groupdata" => {
        @views.html.princegroup.abouts.groupdata()
        }
        case _ => {
        @views.html.princegroup.abouts.history()
        }

        }




    </div>
</div>

}