@(message: String, computers: List[Computer], configThisFile: String)(implicit messages: Messages)
@import views.html.princegroup.langpage._
@import controllers.princegroup.routes

@theModals = {
<!-- theModals -->
<script src="@routes.Assets.js("jquery.waypoints.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.js("jquery.countup.min.js")"></script>
<script type="text/javascript">
    $('.counter').countUp();
  </script>
<script language="javascript">
// document.getElementById('nybanner').style.display = 'none';
if ($(window).width() >= 768) {
$(document).ready(function(){
  var winHeight = $(window).height();
  $(".big-img-o").css("height",winHeight);

});}
</script>
<script>

    var num = 0;
    // 循环计时函数, 多次调用自身函数, num为被传递的参数
    //我们的历史
    function timedCounto(num) {
      num++;//递增值
      $(".thesp").eq(0).text(num);
      // 设置条件使停止计时
      if(num < 100) {//结束的数值
        var t = setTimeout(function() {
          timedCounto(num)
        }, 50);//进行的时间（1000为1秒）
      }
    }
    //你们的认可
    function timedCountt(num) {
      num += 10000;
      $(".thesp").eq(1).text(num);
      // 设置条件使停止计时
      if(num < 10000000) {
        var t = setTimeout(function() {
          timedCountt(num)
        }, 0.01);
      }
    }
    //市场
    function timedCountth(num) {
      num += 10;
      $(".thesp").eq(2).text(num);
      // 设置条件使停止计时
      if(num < 3000) {
        var t = setTimeout(function() {
          timedCountth(num)
        }, 10);
      }
    }
    //原材料
    function timedCountf(num) {
      num++;
      $(".thesp").eq(3).text(num);
      // 设置条件使停止计时
      if(num < 10) {
        var t = setTimeout(function() {
          timedCountf(num)
        }, 350);
      }
    }
    //团队
    function timedCountfi(num) {
      num ++;
      $(".thesp").eq(4).text(num);
      // 设置条件使停止计时
      if(num < 3) {
        var t = setTimeout(function() {
          timedCountfi(num)
        }, 1000);
      }
    }
    //质控
    function timedCounts(num) {
      num ++;
      $(".thesp").eq(5).text(num);
      // 设置条件使停止计时
      if(num < 5) {
        var t = setTimeout(function() {
          timedCounts(num)
        }, 800);
      }
    }
    //滚动显示的效果
    var h = document.documentElement.offsetHeight || document.body.offsetHeight ;
    console.log(h);
    function getTop() {
      var top = $(document).scrollTop();
      if($(document).scrollTop() > 500) {//滚动的高度
        timedCountth(0);
        timedCountf(0);
        timedCounto(0);
            timedCountt(0);
            timedCountfi(0);
        timedCounts(0);
        console.log(top);
        return;//返回函数
      }
      setTimeout(getTop);
    }
    getTop();
</script>
}

@views.html.princegroup.main(title = message, modals = theModals) {

@messages.lang.code match {
case "zh-CN" => {
<!-- Chinese -->
@indexCn("")
}
case _ => {
<!-- Other -->
@indexEn("")
}
}

}