@(message: String)(implicit messages: Messages)
@import controllers.fiveramSite.routes

@theModals = {

}

@views.html.fiveramPC.main(title = "五羊 | 旗下品牌", modals = theModals) {

<!-- 主体内容 -->
<div id="bd">
    <!-- 关于我们 -->
    <div class="brand">
        <img class="ban" src="@routes.Assets.public("/fiveram/images/brand-bg3.jpg")"></img></div>
        <!-- 落叶
          <div id="g-leaves" class="g-leaves3">
              <div>
                  <img src="@routes.Assets.public("/images/ly1.png")" alt="" class="img1">
                  <img src="@routes.Assets.public("/images/ly2.png")" alt="" class="img2">
                  <img src="@routes.Assets.public("/images/ly3.png")" alt="" class="img3">
                  <img src="@routes.Assets.public("/images/ly4.png")" alt="" class="img4">
                  <img src="@routes.Assets.public("/images/ly5.png")" alt="" class="img5">
                  <img src="@routes.Assets.public("/images/ly6.png")" alt="" class="img6">
                  <img src="@routes.Assets.public("/images/ly7.png")" alt="" class="img7">
              </div>
          </div>
           落叶 -->
    </div>
    <!-- 关于我们 -->
    <!--友情链接
    <div class="wdivlink-brand" style=＂margin:auto＂>
    <ul><h2>友情链接</h2></ul>
    <ul style=＂margin:auto＂>
    <li><a href="https://wuyang.tmall.com/" >
        <img src="@routes.Assets.public("/fiveram/images/wlink_01.png")" width="238" height="68" alt="天猫五羊婴儿"></a></li>
    <li><a href="https://mall.jd.com/index-30653.html" >
        <img src="@routes.Assets.public("/fiveram/images/wlink_02.png")" width="238" height="68"  alt="京东五羊婴儿"></a></li>
    <li><a href="https://bibiytxh.tmall.com/" >
        <img src="@routes.Assets.public("/fiveram/images/wlink_03.png")" width="238" height="68" alt="天猫bibi"></a></li>
    <li><a href="https://mall.jd.com/index-42767.html" >
        <img src="@routes.Assets.public("/fiveram/images/wlink_04.png")" width="238" height="68"  alt="京东bibi"></a></li>

    </ul>
    </div>
    友情链接 -->
</div>
<!-- 主体内容 -->

}
