@(message: String)(implicit messages: Messages)
@import controllers.fiveramSite.routes

@theModals = {

}

@views.html.fiveramPC.main(title = "五羊 | 联系我们", modals = theModals) {

<!-- 主体内容 -->
<div id="bd">
	<!-- 联系我们 -->
	<div class="contact-us">
		<!-- 大图 -->
		<div class="ban" style="background-image:url(/img/bg1.jpg);"></div>
		<!-- 大图 -->

		<div class="con wow fadeInUp">
			<div class="img" style="background-image:url(/img/address1_1.png);"></div>

			<div class="txt">
				<h3>集团总部</h3>
				<h4>GROUP  HEADQUARTER</h4>
				<h5>中国广州珠江新城兴国路21号中达广场</h5>
				<p>Guangwu Zhongda Plaza, No.21, Xingguo Road,</br> Zhujiang New Town, Guangzhou, PRC</p>
				<p>客服热线：020-28050926</p>
				<!--p>E-mail:fiveram@@fiveram.com.cn</p-->
				<p>招商代理：王先生(18988930080) <br>&emsp;&emsp;&emsp;&emsp;&emsp;覃先生(18688470825) </p-->

			</div>
		</div>
	</div>
	<!-- 联系我们 -->
</div>
<!-- 主体内容 -->


<!-- 落叶 -->
<div id="g-leaves" class="g-leaves2">
	<div>
		<img src="@routes.Assets.public("/fiveram/images/ly1.png")" alt="" class="img1">
		<img src="@routes.Assets.public("/fiveram/images/ly2.png")" alt="" class="img2">
		<img src="@routes.Assets.public("/fiveram/images/ly3.png")" alt="" class="img3">
		<img src="@routes.Assets.public("/fiveram/images/ly4.png")" alt="" class="img4">
		<img src="@routes.Assets.public("/fiveram/images/ly5.png")" alt="" class="img5">
		<img src="@routes.Assets.public("/fiveram/images/ly6.png")" alt="" class="img6">
		<img src="@routes.Assets.public("/fiveram/images/ly7.png")" alt="" class="img7">
	</div>
</div>
<!-- 落叶 -->

}
