@(message: String)(implicit messages: Messages)
@import views.html.fiveramPC.mopage._
@import views.html.fiveramPC.langpage._
@import controllers.fiveramSite.routes
@theModals = {

}

@views.html.fiveramPC.main(title = "五羊 | 首页", modals = theModals){
@testpage("")
@messages.lang.code match {

case "en" => {
<!-- Other -->
@indexEn("")
}
case _ => {
<!-- Chinese -->
@indexCn("")
}
}

<!-- 落叶 -->
<div id="g-leaves">
 <div class="div">
  <img src="img/ly1.png" alt="" class="img1">
  <img src="img/ly2.png" alt="" class="img2">
  <img src="img/ly3.png" alt="" class="img3">
  <img src="img/ly4.png" alt="" class="img4">
  <img src="img/ly5.png" alt="" class="img5">
  <img src="img/ly6.png" alt="" class="img6">
  <img src="img/ly7.png" alt="" class="img7">
 </div>
</div>
<!-- 落叶 -->



}
