@(message: String)(implicit messages: Messages)
@import controllers.fiveramSite.routes

@theModals = {

}

@views.html.fiveramPC.main(title = "五羊 | 小红伞", modals = theModals) {

<style>
            .ban-bg2 {
                height: 1119px;
            }

            .bg-img {
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: -1;
                background-position: center center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                -webkit-animation: big-bg 12s infinite;
                animation: big-bg 12s infinite;
            }
            /*动画*/
            @@-webkit-keyframes big-bg {
                0% {
                    -webkit-transform: scale(1);
                    -moz-transform: scale(1);
                    -ms-transform: scale(1);
                    -o-transform: scale(1);
                    transform: scale(1);
                }

                50% {
                    -webkit-transform: scale(1.08);
                    -moz-transform: scale(1.08);
                    -ms-transform: scale(1.08);
                    -o-transform: scale(1.08);
                    transform: scale(1.08);
                }

                100% {
                    -webkit-transform: scale(1);
                    -moz-transform: scale(1);
                    -ms-transform: scale(1);
                    -o-transform: scale(1);
                    transform: scale(1);
                }
            }

            @@keyframes big-bg {
                0% {
                    -webkit-transform: scale(1);
                    -moz-transform: scale(1);
                    -ms-transform: scale(1);
                    -o-transform: scale(1);
                    transform: scale(1);
                }

                50% {
                    -webkit-transform: scale(1.08);
                    -moz-transform: scale(1.08);
                    -ms-transform: scale(1.08);
                    -o-transform: scale(1.08);
                    transform: scale(1.08);
                }

                100% {
                    -webkit-transform: scale(1);
                    -moz-transform: scale(1);
                    -ms-transform: scale(1);
                    -o-transform: scale(1);
                    transform: scale(1);
                }
            }
        </style>
<!-- 主体内容 -->
<table id="__01" width="2148"  border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;line-height:normal;">
    <tbody>
    <tr style="width: 2148px; height: 1024px;">
        <td class="bg-img" style="background-image: url(/img/xiaohongsan_01.jpg); "  >

        </td>
        <img src="/img/xiaohongsan_02.jpg" width="2148" height="924" alt="" style="display: block; position: absolute; left: 0px; top: 257px; z-index: 999;">
    </tr>
    <tr>
        <td>
            <img src="/img/xiaohongsan_03.jpg" width="2148" height="493" alt="" style="display: block;">
        </td>
    </tr>
    <tr>
        <td>
            <img src="/img/xiaohongsan_04.jpg" width="2148" height="641" alt="" style="display: block;">
        </td>
    </tr>
    <tr>
        <td>
            <img src="/img/xiaohongsan_05.jpg" width="2148" height="333" alt="" style="display: block;">
        </td>
    </tr>
    <tr>
        <td>
            <img src="/img/xiaohongsan_06.jpg" width="2148" height="468" alt="" style="display: block;">
        </td>
    </tr>
    <tr>
        <td>
            <img src="/img/xiaohongsan_07.jpg" width="2148" height="426" alt="" style="display: block;">
        </td>
    </tr>
    <tr>
        <td>
            <img src="/img/xiaohongsan_08.jpg" width="2148" height="1075" alt="" style="display: block;">
        </td>
    </tr>
    <tr>
        <td>
            <img src="/img/xiaohongsan_09.jpg" width="2148" height="592" alt="" style="display: block;">
        </td>
    </tr>
    </tbody>
</table>
<div class="redmain4 wow " data-wow-duration="10" style="height: 596px;  background-color: #f7f6fb;">
    <div class="wrap-red" style="width: 1310px;">
        <div class="news" style="margin-left: 190px;">
            <h2 style="margin-top: 50px;">“五羊小红伞”最新动态</h2>
            <div class="npic">
                <img src="/img/san-pic6.jpg" width="612" height="410" />
            </div>
            <div class="ntxt">
                <h3 style="color:red;margin-bottom:20px;">助力宝宝快乐成长</h3>
                <ul style="border-top: 1px solid #ccc;">
                    <li style="text-align:left;" class="newslink">
                        <a href="http://www.yfredcross.com/hc/News/2017518102519.html">"五羊小红伞"为先心病儿童"遮风挡雨" 我市19名先心病儿童将获免费手术</a>
                        <label style="float:right;">2017-05-18</label>
                    </li>
                    <li style="text-align:left;" class="newslink">
                        <a href="http://www.yunfudaily.cn/2017/0517/77443.shtml">"五羊小红伞"为先心病儿童"遮风挡雨"</a>
                        <label style="float:right;">2017-05-17</label>
                    </li>
                    <li style="text-align:left;" class="newslink">
                        <a href="http://yuer.pcbaby.com.cn/342/3427385.html">五羊母婴发起"小红伞"公益项目，助力先心病患儿重拾成长梦 </a>
                        <label style="float:right;">2017-02-28</label>
                    </li>
                    <li style="text-align:left;" class="newslink">
                        <a href="http://news.dayoo.com/guangdong/201702/24/139996_50898657.htm">广东启动"小红伞"项目，3年将救助150名贫困先心儿童 </a>
                        <label style="float:right;">2017-02-24</label>
                    </li>
                    <li style="text-align:left;" class="newslink">
                        <a href="http://gd.sina.com.cn/news/b/2017-02-24/1811188848.html">五羊母婴与省红十字会共举小红伞 撑起"心"希望</a>
                        <label style="float:right;">2017-02-24</label>
                    </li>
                </ul>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>

</div>

<!-- 主体内容 -->
<link rel="stylesheet" href="css/animate.css">
<script src="js/wow.min.js"></script>
<script type="text/javascript" src="js/jwplayer.js"></script>
<script type="text/javascript">
        jwplayer('mediaplayer').setup({
            'flashplayer': 'js/jwplayer.flash.swf',
            'image': '/img/video_pre.png',
            'id': 'playerID',
            'width': '100%',
            'aspectratio':'16:9',//视频比率大小
            'file': 'video/redUmbrella.mp4'
        });
    </script>


}