@(message: String)(implicit messages: Messages)
@import controllers.princegroup.routes
@defining(play.core.PlayVersion.current) { version =>

<!--首页内容-->
<div> bibi 美国高端纸尿裤</div>
</div>
<div class="pro-text">
<div><img src="@routes.Assets.img("brands-01bibi.jpg")"></div>
<div >
    bibi
</div>
<div>
    bibi是源自美国的高端婴儿纸尿裤品牌。bibi专注于研发及生产优质安全的婴儿纸尿裤，甄选全球优质原料，配备国际领先的科研团队，致力为全球宝宝提供高端产品体验。目前已经为数千万的宝宝家庭提供高品质产品，为妈妈们带来更加轻松便利的育儿生活。bibi始终关爱每一位宝宝，为他们提供最舒适安全的呵护，陪伴宝宝健康快乐成长。
</div>
<script>
document.title = "bibi"+"_"+ "@Messages("princegroup.subtitle")";
</script>

}

