@(message: String)(implicit messages: Messages)
@import controllers.princegroup.routes
@defining(play.core.PlayVersion.current) { version =>
    <!--五羊-->

    <div class="pro-box" style="display: block;">
        <div class="about-box-til">
            <div><a href="@routes.Application.index">@Messages("princegroup.home")</a>
                <a href="@routes.Application.brands()">@Messages("princegroup.brands")</a> / <span>@Messages("princegroup.brands.fiveram")</span></div>

            @messages.lang.code match {

            case "en" => {
            <!-- Other -->
            @fiveramEn("")
            <!-- Other end-->
            }
            case _ => {
            <!-- Chinese -->
            @fiveramCn("")
            <!-- Chinese end-->
            }
            }

            <div>
                <div>
                    <br>
                    <a href="http://www.fiveram.com.cn"><span style="color:#e4007f;">进入五羊&reg;品牌网站&gt;</span></a>
                </div>
                <div>
                    <a href="https://wuyang.tmall.com/"><span style="color:#e4007f;">进入五羊&reg;天猫旗舰店&gt;</span></a>&nbsp;&nbsp;&nbsp;<a href="https://mall.jd.com/index-47820.html"><span style="color:#e4007f;">进入五羊&reg;京东自营专卖店&gt;</span></a>
                </div>
            </div>

        </div>
    </div>


}