@(message: String)(implicit messages: Messages)
@import controllers.princegroup.routes
@defining(play.core.PlayVersion.current) { version =>
<!--五羊-->

<div class="pro-box" style="display: block;">
    <div class="about-box-til">
        <div><a href="/cn/">@Messages("princegroup.home")</a><a href="/cn/brands/">>@Messages("princegroup.brands")</a> / <span>湃迪</span></div>
        <div> 湃迪成人纸尿裤</div>
    </div>
    <div class="pro-text">
        @messages.lang.code match {
        case "zh-CN" => {
        <!-- Chinese -->
        @pidCn("")
        <!-- Chinese end-->
        }
        case _ => {
        <!-- Other -->
        @pidEn("")
        <!-- Other end-->
        }
        }


        <div>
            <div>
                <br>
                <a href="#"><span style="color:#e4007f;">进入湃迪&reg;品牌网站&gt;</span></a></div><div><a href="#"><span style="color:#e4007f;">进入湃迪&reg;天猫旗舰店&gt;</span></a>&nbsp;&nbsp;&nbsp;<a href="#"><span style="color:#e4007f;">进入湃迪&reg;京东自营专卖店&gt;</span></a></div></div>

    </div>
</div>
}