@import controllers.princegroup.routes
@defining(play.core.PlayVersion.current) { version =>
<!--五羊-->

<div class="pro-box" style="display: block;">
    <div class="about-box-til">
        <div><a href="/cn/">首页</a><a href="/cn/brands/">旗下品牌</a> / <span>湃迪</span></div>
        <div> 湃迪成人纸尿裤</div>
    </div>
    <div class="pro-text">
        <div><img src="@routes.Assets.img("brands-03pid.jpg")"></div>
        <div >
            湃迪
        </div>
        <div>
            湃迪是专业成人纸尿裤品牌，专注于失禁护理产品的研发与制造，为全球 消费者与医疗保健机构提供优质的产品与服务。配备全球顶尖的科研人才 与实验室，以强大的研发能力适应全球消费者的多元化需求，根据不同类 型使用者的身体状态，潜心研发全系列产品。通过优质、舒适、便利的使 用体验，最大程度维持使用者的行动能力与生活品质。</div>
        <div>
            <div>
                <br>
                <a href="#"><span style="color:#e4007f;">进入湃迪&reg;品牌网站&gt;</span></a></div><div><a href="#"><span style="color:#e4007f;">进入湃迪&reg;天猫旗舰店&gt;</span></a>&nbsp;&nbsp;&nbsp;<a href="#"><span style="color:#e4007f;">进入湃迪&reg;京东自营专卖店&gt;</span></a></div></div>

    </div>
</div>
}