@(message: String)(implicit messages: Messages)
@import controllers.princegroup.routes
@defining(play.core.PlayVersion.current) { version =>

<!--首页内容-->
<div> 湃迪成人纸尿裤</div>
</div>
<div class="pro-text">
<div><img src="@routes.Assets.img("brands-03pid.jpg")"></div>
<div >
    湃迪
</div>
<div>
    湃迪是专业成人纸尿裤品牌，专注于失禁护理产品的研发与制造，为全球消费者与医疗保健机构提供优质的产品与服务。配备全球顶尖的科研人才与实验室，以强大的研发能力适应全球消费者的多元化需求，根据不同类型使用者的身体状态，潜心研发全系列产品。通过优质、舒适、便利的使 用体验，最大程度维持使用者的行动能力与生活品质。
</div>

<script>
document.title = '湃迪'+'_'+ @Messages("princegroup.subtitle");
</script>
}