@*
* This template takes a single argument, a String containing a
@* content Template File *@

@import controllers.fiveram.routes

@(message: String)


@main("五羊 | 小红伞"){

<!-- 主体内容 -->

<div class="redumbrella" >
    <div  >
        <img class="bg-img"  src="@routes.Assets.public("/fiveram/images/xiaohongsan_01.jpg")"></img>
    </div>
    <div class="umbrella">
        <div>
            <img src="@routes.Assets.public("/fiveram/images/xiaohongsan_02.jpg")"  height="924" alt="">
        </div>
        <div>
            <img src="@routes.Assets.public("/fiveram/images/xiaohongsan_03.jpg")"  height="493" alt="">
        </div>
        <div >
            <img src="@routes.Assets.public("/fiveram/images/xiaohongsan_04.jpg")"  height="641" alt="">
        </div>
        <div>
            <img src="@routes.Assets.public("/fiveram/images/xiaohongsan_05.jpg")"  height="333" alt="" >
        </div>
        <div>
            <img src="@routes.Assets.public("/fiveram/images/xiaohongsan_06.jpg")"  height="468" alt="" >
        </div>
        <div>
            <img src="@routes.Assets.public("/fiveram/images/xiaohongsan_07.jpg")"  height="426" alt="" >
        </div>
        <div>
            <img src="@routes.Assets.public("/fiveram/images/xiaohongsan_08.jpg")"  height="1075" alt="" >
        </div>
        <div>
            <img src="@routes.Assets.public("/fiveram/images/xiaohongsan_09.jpg")"  height="592" alt="" >
        </div>
        <div class="redmain4 wow " data-wow-duration="10" style="height: 596px;  background-color: #f7f6fb;">
            <div class="wrap-red" style="width: 1310px;">
                <div class="news" style="margin-left: 190px;">
                    <h2 style="margin-top: 50px;">“五羊小红伞”最新动态</h2>
                    <div class="npic">
                        <img src="@routes.Assets.public("/fiveram/images/san-pic6.jpg")" width="612" height="410" />
                    </div>
                    <div class="ntxt">
                        <h3 style="color:red;margin-bottom:20px;">助力宝宝快乐成长</h3>
                        <ul style="border-top: 1px solid #ccc;">
                            <li style="text-align:left;" class="newslink">
                                <a href="http://www.yfredcross.com/hc/News/2017518102519.html">"五羊小红伞"为先心病儿童"遮风挡雨" 我市19名先心病儿童将获免费手术</a>
                                <label style="float:right;">2017-05-18</label>
                            </li>
                            <li style="text-align:left;" class="newslink">
                                <a href="http://www.yunfudaily.cn/2017/0517/77443.shtml">"五羊小红伞"为先心病儿童"遮风挡雨"</a>
                                <label style="float:right;">2017-05-17</label>
                            </li>
                            <li style="text-align:left;" class="newslink">
                                <a href="http://yuer.pcbaby.com.cn/342/3427385.html">五羊母婴发起"小红伞"公益项目，助力先心病患儿重拾成长梦 </a>
                                <label style="float:right;">2017-02-28</label>
                            </li>
                            <li style="text-align:left;" class="newslink">
                                <a href="http://news.dayoo.com/guangdong/201702/24/139996_50898657.htm">广东启动"小红伞"项目，3年将救助150名贫困先心儿童 </a>
                                <label style="float:right;">2017-02-24</label>
                            </li>
                            <li style="text-align:left;" class="newslink">
                                <a href="http://gd.sina.com.cn/news/b/2017-02-24/1811188848.html">五羊母婴与省红十字会共举小红伞 撑起"心"希望</a>
                                <label style="float:right;">2017-02-24</label>
                            </li>
                        </ul>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div></div>
</div>

<!-- 主体内容 -->
<link rel="stylesheet" href="@routes.Assets.public("/stylesheets/css/animate.css")">
<link rel="stylesheet" href="@routes.Assets.public("/stylesheets/css/redumbrella.css")">
<script src="@routes.Assets.public("/javascripts/js/wow.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.public("/javascripts/js/jwplayer.js")"></script>


}