@(message: String)(implicit messages: Messages)
@import controllers.princegroup.routes
@defining(play.core.PlayVersion.current) { version =>

    <div>
        <div>
            <h2>
                王子健康-广州总部</h2>
            <p style="font-size:14px;margin-top:0px;margin-bottom:0px;line-height:28px;font-family:&quot;white-space:normal;">
                地址：广州市天河区珠江新城兴国路21号广物中心六楼</p>
            <p style="font-size:14px;margin-top:0px;margin-bottom:0px;line-height:28px;font-family:&quot;white-space:normal;">
                邮编：510627</p>
            <p style="font-size:14px;margin-top:0px;margin-bottom:0px;line-height:28px;font-family:&quot;white-space:normal;">
                总机：<a href="tel:020-3828 4257" style="text-decoration: none;color: #333333;">020-3828 4257</a></p>
            <p style="font-size:14px;margin-top:0px;margin-bottom:0px;line-height:28px;font-family:&quot;white-space:normal;">
                传真：<a href="tel:020-3828 4997" style="text-decoration: none;color: #333333;">020-3828 4997</a></p>
            <p style="font-size:14px;margin-top:0px;margin-bottom:0px;line-height:28px;font-family:&quot;white-space:normal;">
                公司网站：<a href="http://www.princegroup.com.cn/" style="text-decoration: none;color: #333333;">http://www.Princegroup.com.cn</a></p>
        </div>
        <br>
        <hr>
        <br>
        <div>
            <h2>
                产品咨询</h2>
            <p>
               <!-- <span style="font-family:&quot;white-space:normal;font-size:14px;">五羊经销代理洽谈：王先生，手机号码：</span><a href="tel:11" style="text-decoration: none;color: #333333;">189 8893 0080</a></p>
            <p> -->
                <span style="font-family:&quot;white-space:normal;font-size:14px;">bibi、Pid经销代理洽谈：覃先生，手机号码：</span><a href="tel:18688470825" style="text-decoration: none;color: #333333;">186 8847 0825</a></p>
        </div>
        <br>
        <hr>
        <br>
        <div>
            <h2>
                品牌保护</h2>
            <p>
                <span style="font-family:&quot;white-space:normal;font-size:14px;">打假联络热线：</span><a href="tel:020-38284257" style="text-decoration: none;color: #333333;">020-3828 4257</a><span style="font-family:&quot;white-space:normal;font-size:14px;">&nbsp;转</span></p>
        </div>
        <br>
        <br>
        <hr>
        <br>
        <div>
            <h2>
                客服热线</h2>
            <p>
                <span style="font-family:&quot;white-space:normal;font-size:14px;">联系电话：</span><a href="tel:020-28050926" style="text-decoration: none;color: #333333;">020-2805 0926</a></p>
            <p>
                免费电话：<a href="tel:020-28050926" style="text-decoration: none;color: #333333;">400-800-2163</a></p>
        </div>
        <br>
        <hr>
    </div>

</div>

<script>
document.title = "联系我们"+"_"+ "@Messages("princegroup.subtitle")";
</script>
}

