@(message: String)(implicit messages: Messages)
@import controllers.princegroup.routes
@defining(play.core.PlayVersion.current) { version =>

    <div>
        <div>
            <h2>
                OJI Investment Ld.  - Guangzhou headquarters</h2>
            <p style="font-size:14px;margin-top:0px;margin-bottom:0px;line-height:28px;font-family:&quot;white-space:normal;">
                Address: Guangwu Zhongda Plaza, No.21, Xingguo Road,Zhujiang New Town, Guangzhou, PRC
            </p>
            <p style="font-size:14px;margin-top:0px;margin-bottom:0px;line-height:28px;font-family:&quot;white-space:normal;">
                Zip code: 510627
            </p>
            <p style="font-size:14px;margin-top:0px;margin-bottom:0px;line-height:28px;font-family:&quot;white-space:normal;">
                Switchboard: <a href="tel:020-3828 4257" style="text-decoration: none;color: #333333;">020-3828 4257</a></p>
            <p style="font-size:14px;margin-top:0px;margin-bottom:0px;line-height:28px;font-family:&quot;white-space:normal;">
                Fax: <a href="tel:020-3828 4997" style="text-decoration: none;color: #333333;">020-3828 4997</a></p>
            <p style="font-size:14px;margin-top:0px;margin-bottom:0px;line-height:28px;font-family:&quot;white-space:normal;">
                Official website: <a href="http://www.princegroup.com.cn/" style="text-decoration: none;color: #333333;">http://www.Princegroup.com.cn</a></p>
        </div>
        <br>
        <hr>
        <br>
        <div>
            <h2>
                Product consultation
            </h2>
            <p>
                <span style="font-family:&quot;white-space:normal;font-size:14px;">Fiveram Distribution Agent: Mr. Wang, mobile phone number: </span><a href="tel:18988930080" style="text-decoration: none;color: #333333;">189 8893 0080</a></p>
            <p>
                <span style="font-family:&quot;white-space:normal;font-size:14px;">Bibi, Pid Distribution Agent: Mr. Qin, mobile phone number:</span><a href="tel:18688470825" style="text-decoration: none;color: #333333;">186 8847 0825</a></p>
        </div>
        <br>
        <hr>
        <br>
        <div>
            <h2>
                Brand protection
            </h2>
            <p>
                <span style="font-family:&quot;white-space:normal;font-size:14px;">Fake contact hotline: </span><a href="tel:020-34284257" style="text-decoration: none;color: #333333;">020-3428 4257</a><span style="font-family:&quot;white-space:normal;font-size:14px;">&nbsp;turn</span></p>
        </div>
        <br>
        <br>
        <hr>
        <br>
        <div>
            <h2>
                Customer service hotline
            </h2>
            <p>
                <span style="font-family:&quot;white-space:normal;font-size:14px;">Contact phone: </span><a href="tel:020-28050926" style="text-decoration: none;color: #333333;">020-2805 0926</a></p>
            <p>
                Hotline:<a href="tel:020-28050926" style="text-decoration: none;color: #333333;">400-800-2163</a></p>
        </div>
        <br>
        <hr>
    </div>

<script>
document.title = "Contact"+"_"+ "@Messages("princegroup.subtitle")";
</script>

}

