@(message: String)(implicit messages: Messages)
@import controllers.princegroup.routes
@defining(play.core.PlayVersion.current) { version =>


        <div class="news-text">
            <div class="news-title">“小红伞”先心病儿童救助项目</div>
            <img src="/img/1-1P32G645110-L.png" alt="">
            <div>
                <div class="news-box-til">
                    五羊联合广东省红十字会发起“小红伞”先心病儿童救助项目
                </div>
                <div>
                    <!--  <video src="http://web-local.hzb.cn:90/images/csr.png" height="176" width="312" controls="controls">
                       </video>
                       -->
                    <div>
                        五羊集团联合广东省红十字会、广州医科大学附属第一医院， <br>
                        针对贫困家庭“先心病患儿”的特殊情况，<br>
                        发起“五羊小红伞”先心病帮扶救治活动，并于2月24日顺利举行签约启动仪式。<br>
                        力求以实际行动，<br>
                        帮助贫苦地区家庭患儿重拾健康，<br>
                        践行“改善儿童生存环境， 提高儿童生活品质”的企业使命。
                    </div>
                </div>
            </div>

            <div>
                <div class="news-box-til">
                    我国先心病儿童患病情况</div>
                <div>
                    先天性心脏病简称先心病，是婴幼儿中的多发病，近年的发病率已跃升为新生儿缺陷疾病的首位，成为扼杀5岁以下儿童生命的头号杀手。<br>
                    我国先心病患儿的数量和增速惊人，截止到2015年，我国先心病患者已突破700万，并以每年15万新患儿的数量逐年递增。我国新生儿先心病发病率已达6‰~8‰，广东地区的发病率更高达12‰。<br>
                    据不完全统计，全国尚有200万先心病患者正在等待手术，若不及时治疗，大约有一半的孩子会在出生1年内死亡，侥幸存活的孩子也会因不能正常发育残疾、丧失劳动能力等，给家庭和社会带来巨大的经济负担和精神压力。</div>
            </div>
            <div>
                <div class="news-box-til">
                    举起小红伞 撑起“心”希望</div>
                <div>
                    <div>
                        幸运的是，先心病是可救治的，就我国目前的医疗技术而言，绝大部分的先心病患者可以通过手术治疗得到康复，而且越早治疗治愈率越高。但在先心病高发的贫困地区，由于经济和医疗条件的限制，得以治疗的患儿却还不到一半。<br>
                        五羊母婴从2016年开始筹备“小红伞”项目，在广东省红十字会和广州医科大学附属第一医院的大力支持下终于落地。<br>
                        五羊希望在为全球孩子和妈妈提供优质产品和服务的同时，<br>
                        通过爱心举动，为贫困家庭儿童摆脱病困尽一份力量，让他们重拾成长的梦想！</div>
                    <div>
                        <div>
                            <span>截止到2015年</span><br>
                            7,000,000+</div>
                        <div>
                            <span>我国新生儿先心病发病率</span><br>
                            6-8‰</div>
                        <div>
                            <span>广东地区先心病发病率</span><br>
                            12‰</div>
                        <div>
                            <span>待手术的先心患者</span><br>
                            2,000,000</div>
                    </div>
                </div>
            </div>
            <div>
                <span>主办单位 ：</span> 广东省红十字会 五羊集团 广州医科大学附属第一医院<br>
                <span>协办单位 ：</span> 中山大学附属第三医院 爱博思妇产医院 苏宁红孩子</div>
            <div>
                <div class="news-box-til">
                    为贫困家庭撑起“心希望”, 为孩子开启崭新的人生篇章</div>
                <div>
                    <img src="/img/1-1P32G64A5W9.png"> <img src="/img/1-1P32G64FV05.png"> <img src="/img/1-1P32G64H02W.png"></div>
            </div>


        </div>

<script>
document.title = "社会责任"+"_"+ "@Messages("princegroup.subtitle")";
</script>

}

