@(message: String)(implicit messages: Messages)
@import controllers.princegroup.routes
@defining(play.core.PlayVersion.current) { version =>

        <div class="news-text">
            <div class="news-title">Little Red Umbrella Foundation</div>
            <img src="/img/1-1P32G645110-L.png" alt="">
            <div>
                <div class="news-box-til">
                    Prop up hope for CHD patients
                </div>
                <div>
                    <video src="http://web-local.hzb.cn:90/images/csr.png" height="176" width="312" controls="controls">
                    </video>
                    <div>
                        Fiveram Group  joined efforts with the Red Cross Society of China and the 1st Affiliated Hospital of Guangzhou Medical University to initiate the Little Red Umbrella Foundation to help those CHD patients.The signing and launch ceremony for this project was held on Feb. 24 in an effort to help those infant patients from poverty-hit families to recover, and implement the group’s mission to “enhance the living environment and standards for these CHD afflicted children”.
                    </div>
                </div>
            </div>

            <div>
                <div class="news-box-til">
                    Introduction to CHD-suffering Children in China
                </div>
                <div>
                    Recently, CHD has become the top inherent disease as suffered by most newborns and the biggest killer for children below 5 years of age.As of 2015, the number of China’s infant CHD patients has surpassed 7 million, with 150,000 added each year. The onset among newborns has reached 6‰ to 8‰, with an astounding 12‰ reported among infants born in Guangdong.According to incomplete statistics, currently around 2 million infant CHD patients in China are waiting for surgical operation. Without surgical treatment carried out in time, roughly a half of such children would die within one year and a half upon their birth, the remaining would grow up handicapped and unable to perform normal labor capacity. This may cause significant economic burden and spiritual pressure to their families and society.
                </div>
            </div>
            <div>
                <div class="news-box-til">
                    Present hope for poverty-hit families
                </div>
                <div>
                    <div>
                        Fortunately, CHD is no longer incurable. With the current medical technology in China, a great majority of CHD patients could be cured through surgery. The earlier the surgery is performed, the higher the recovery rate can be achieved. However, due to limits in economical and medical conditions, less than a half of infant patients in poverty-stricken areas of high prevalence have access to treatment.

                        To help those infant CHD patients from humble families, the Fiveram Group thus joined efforts with the Guangdong Branch, Red Cross Society of China and the 1st Affiliated Hospital of Guangzhou Medical University to initiate the Little Red Umbrella Foundation to help those CHD patients.
                    </div>
                    <div>
                        <div>
                            <span>By the end of 2015</span><br>
                            7,000,000+</div>
                        <div>
                            <span>Incidence of neonatal congenital heart disease</span><br>
                            6-8‰</div>
                        <div>
                            <span>Morbidity in GD</span><br>
                            12‰</div>
                        <div>
                            <span>Waiting for the operation</span><br>
                            2,000,000</div>
                    </div>
                </div>
            </div>
            <div>
                <span>SPONSOR：</span>Guangdong Branch Red Cross Society, Fiveram Group, The first affiliated hospital of guangzhou medical university.
                 <br>
                <span>CO-SPONSOR：</span> The Third Affiliated Hospital of Sun Yat-Sen University, iBorn Women's & Children's Hospital,  Suning Redbaby.
            </div>
            <div>
                <div class="news-box-til">
                    Unveil a new chapter for those suffering children</div>
                <div>
                    <img src="/img/1-1P32G64A5W9.png"> <img src="/img/1-1P32G64FV05.png"> <img src="/img/1-1P32G64H02W.png"></div>
            </div>


        </div>
<script>
document.title = "CSR"+"_"+ "@Messages("princegroup.subtitle")";
</script>

}

