@(message: String)(implicit messages: Messages)
@import controllers.princegroup.routes
@import views.html.princegroup.abouts._
@defining(play.core.PlayVersion.current) { version =>
<!--核心优势-->
<div class="content-box-box" style="display: none;">
    <div class="about-box-til">
        <div><a href="@routes.Application.">@Messages("princegroup.home")</a>
            <a href="@routes.Application.about()">@Messages("princegroup.aboutoji")</a> / <span>@Messages("princegroup.about.advantages")</span></div>
        <div>@Messages("princegroup.about.advantages")</div>
    </div>
    <div class="about-core">
        @messages.lang.code match {

        case "en" => {
        <!-- Other -->
        @advantagesEn("")
        <!-- Other end-->
        }
        case _ => {
        <!-- Chinese -->
        @advantagesCn("")
        <!-- Chinese end-->
        }
        }
    </div>
</div>
@******改写标题****@
<script>
document.title = "@Messages("princegroup.about.groupdata")"+"_"+ "@Messages("princegroup.subtitle")";
</script>
}