@(message: String)(implicit messages: Messages)
@import controllers.princegroup.routes
@defining(play.core.PlayVersion.current) { version =>

<!--首页内容-->
<div><div class="about-core-title">
    Three system certification enterprise
</div>
    <div class="about-core-box-o">
        <div><img src="/img/1-1P32G00Z11b.png"></div>
        <div>
            <div>
                <span>Quality system</span><br>
                The enterprise through the <strong>ISO 9001</strong> certification, strict quality control<br>
                to ensure the quality and safety of the product.
            </div><div>
            <span>Environmental system</span><br>
            Through the <strong>ISO 14001</strong> certification, the enterprise has reached<br>
            the international level in the environment management.
        </div><div>
            <span>Security system</span><br>
            Through the <strong>ISO 18001</strong> certification, the enterprise has a perfect and<br>
            sound production system.
        </div>
        </div>
    </div>
</div>
<div>
    <div class="about-core-title">
        Top 500 quality raw materials in the world
    </div>
    <ul>
        <li>
            <img src="/img/1-1P32G044250-L.png">
            <div>
                <span>BASF</span>
                <br>A famous chemical company<br>Non-woven fabric surface<br>supplier
            </div>
        </li><li>
        <img src="/img/1-1P32G044560-L.png">
        <div>
            <span>3M</span><br>
            Multinational group<br>
            Buckle supplier
        </div>
    </li><li>
        <img src="/img/1-1P32G045220-L.png">
        <div>
            <span>SUMITOMO CHEMICAL</span><br>
            Over 400 years of history<br>
            SAP polymer provider
        </div>
    </li><li>
        <img src="/img/1-1P32G045480-L.png">
        <div>
            <span>LYCRA</span><br>
            Well-known Polymer Co<br>
            Rubber band supplier
        </div>
    </li><li>
        <img src="/img/1-1P32G046130-L.png">
        <div>
            <span>First Quality</span><br>
            Leading medical and hygienic <br>use<br>
            New material leading enterpr-<br>ises
        </div>
    </li><li>
        <img src="/img/1-1P32G046390-L.png">
        <div>
            <span>BOSTIK</span><br>
            Adhesive producer<br>
            Glue supplier
        </div>
    </li>
    </ul>
</div>
<div>
    <div class="about-core-title">
        Revolutionary innovation technology
    </div>
    <div class="about-core-box-th">
        <div>
            <img src="/img/1-1P32G103150-L.png">
            <div>
                Three nuclear lock water core,<br>
                gold ratio three kinds of imported water suction beads,<br>
                thin to 0.3mm.
            </div>
        </div><div>
        <img src="/img/1-1P32G103400-L.png">
        <div>
            Space cabin core,<br>
            partition structure.
        </div>
    </div><div>
        <img src="/img/1-1P32G103570-L.png">
        <div>
            The tailoring of ergonomics is tailored according to the body lines of the baby,<br>
            and the trousers fit all the time.<br>
            Every action of the baby,<br>
            the private custom version is 360 degrees soft and close to the body
        </div>
    </div>
    </div>
</div>


}

