@(message: String)(implicit messages: Messages)
@import controllers.princegroup.routes
@defining(play.core.PlayVersion.current) { version =>
<!--核心优势-->
<div class="about-right-box" style="display: none;">
    <div class="about-box-til">
        <div><a href="@routes.Application.">@Messages("princegroup.home")</a>
            <a href="@routes.Application.about()">@Messages("princegroup.aboutoji")</a> / <span>@Messages("princegroup.about.advantages")</span></div>
        <div>@Messages("princegroup.about.advantages")</div>
    </div>
    <div class="about-core">
        <div><div class="about-core-title">
            三体系认证企业
        </div>
            <div class="about-core-box-o">
                <div><img src="/img/1-1P32G00Z11b.png"></div>
                <div>
                    <div>
                        <span>质量体系</span><br>
                        本企业通过 <strong>ISO 9001</strong> 认证，严苛品控保证产品优质安全。
                    </div><div>
                    <span>环境体系</span><br>
                    本企业通过 <strong>ISO 14001</strong> 认证，在环境管理方面达到了国际水平。
                </div><div>
                    <span>安全体系</span><br>
                    本企业通过 <strong>ISO 18001</strong> 认证，拥有完善健全的安全生产体系。
                </div>
                </div>
            </div>
        </div>
        <div>
            <div class="about-core-title">
                世界500强优质原材料
            </div>
            <ul>
                <li>
                    <img src="/img/1-1P32G044250-L.png">
                    <div>
                        <span>德国巴斯夫</span><br>
                        全球著名的化工公司<br>
                        无纺布面层供应商
                    </div>
                </li><li>
                <img src="/img/1-1P32G044560-L.png">
                <div>
                    <span>美国3M</span><br>
                    世界著名跨国集团<br>
                    搭扣供应商
                </div>
            </li><li>
                <img src="/img/1-1P32G045220-L.png">
                <div>
                    <span>日本住友</span><br>
                    400多年历史<br>
                    SAP高分子提供商
                </div>
            </li><li>
                <img src="/img/1-1P32G045480-L.png">
                <div>
                    <span>美国莱卡</span><br>
                    全球著名的化工公司<br>
                    无纺布面层供应商
                </div>
            </li><li>
                <img src="/img/1-1P32G046130-L.png">
                <div>
                    <span>美国致优</span><br>
                    全球领先的医用及卫生用<br>
                    新型材料领军企业
                </div>
            </li><li>
                <img src="/img/1-1P32G046390-L.png">
                <div>
                    <span>法国波士胶</span><br>
                    全球著名的粘合剂生产商之一<br>
                    胶水供应商
                </div>
            </li>
            </ul>
        </div>
        <div>
            <div class="about-core-title">
                革命性创新技术
            </div>
            <div class="about-core-box-th">
                <div>
                    <img src="/img/1-1P32G103150-L.png">
                    <div>
                        三核锁水芯，黄金配比三种进口吸水珠，<br>
                        薄至0.3mm。
                    </div>
                </div><div>
                <img src="/img/1-1P32G103400-L.png">
                <div>
                    太空舱式芯体，分舱式结构。
                </div>
            </div><div>
                <img src="/img/1-1P32G103570-L.png">
                <div>
                    人体工学剪裁，按照宝宝的身体线条进行剪裁，裤体时刻贴合<br>
                    宝宝的每个动作，私人定制版360度柔软贴身
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

}