@(message: String)(implicit messages: Messages)
@import controllers.princegroup.routes
@defining(play.core.PlayVersion.current) { version =>

<!--首页内容-->
<div>
    OJI is a world-leading diaper manufacturer with an international perspective. OJI has focused on the development of diaper manufacturing for 10 years so far and has owned a maternal and baby brand "fiveram" for over 100 years as well as the United States high-end baby diaper brand "bibi", and a professional adult diaper brand "Pid". OJI brings together top research teams from around the world，selects high-quality raw materials and employs stringent quality control systems to deliver safe, high-quality, reliable and comprehensive products and services to families around the world.
</div>
<div>
    <img src="/img/architectureEn.png">
</div>


}

