@(message: String)(implicit messages: Messages)
@import controllers.princegroup.routes
@defining(play.core.PlayVersion.current) { version =>

<!--首页内容-->
<div>
    <div class="about-core-title">我们的战略与使命</div>

    <div class="culture-box" style="text-align: center;">
        <div style="width:800px;height:500px">
            <div class="culture-cycle1">
                <div style="margin-top:30px;">
                    <center class="culture-zuz">
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">我们的愿景</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                        <br>
                        <span style="font-size:14px;">成为全球领先的卫生用品公司</span></center>
                </div>
            </div>
            <div class="culture-cycle2">
                <div class="p1font">
                    <center class="culture-zuz">
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">我们的使命</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                        <br>
                        <span style="font-size:14px;">让人们拥有高品质的卫生用品，</span><br>
                        <span style="font-size:14px;">呵护生活每一天</span></center>
                </div>
            </div>
            <div class="culture-cycle3">
                <div class="p1font">
                    <center class="culture-zuz">
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">我们的价值观</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                        <br>
                        <span style="font-size:14px;">诚信，务实，共赢</span></center>
                </div>
            </div>
            <div class="culture-cycle4">
                <div class="p1font">
                    <center class="culture-zuz">
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">我们的发展战略</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                        <br>
                        <span style="font-size:14px;">创新领先</span><br>
                        <span style="font-size:14px;">增长领先</span><br>
                        <span style="font-size:14px;">品质领先</span></center>
                </div>
            </div>
            <div class="culture-cycle5">
                <div class="p1font">
                    <center class="culture-zuz">
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">我们的经营方针</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                        <br>
                        <span style="font-size:14px;color:black;">研发先行，品牌驱动</span><br>
                        <span style="font-size:14px;">渠道创新，供应保障</span></center>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="about-core-title">我们的精神</div>
    <div class="culture-box" style="text-align: center;">
        <div>
           <span class="">拼搏进取、勤劳节俭、艰苦奋斗、敢为人先、敢于超越；<br>
               叫孝仁义、低调谦虚、求真务实、永不言败、永远创业。</span></div></div>
</div>
<div>
    <div class="about-core-title">我们坚信的真理</div>
    <div class="culture-box" style="text-align: center;">
        <div>
            <img alt="" src="/img/1-1P523120156163.png" style="width: 898px; height: 479px;">
        </div>
    </div>
</div>


}

