@import controllers.princegroup.routes
@defining(play.core.PlayVersion.current) { version =>

<div class="about-right-box" style="display: none;">
    <div class="about-box-til">
        <div><a href="@routes.Application.">首页 </a><a href="@routes.Application.about()">关于王子</a> /  <span>企业文化</span></div>
        <div>企业文化</div>
    </div>

    <span class="news-title">我们的战略与使命</span><br>
    <br>
    <hr style="border-bottom:1px solid #0C3770">
    <br>
    <style type="text/css">
#zuz {

;	margin-top:44px;
}

#cycle1
{
	border-radius: 100%;
    background: #f2f2f2;
；	border: 15px solid #fff;
    padding: 12px;
    width: 199px;
    height: 199px;
	position:absolute;
	float:left;
	margin-top:21px;
	margin-left:89px;

}
#cycle1:hover
{
	border-radius: 100%;
	background: #fff;
    border: 15px solid #063d78;
    padding: 12px;
    width: 229px;
    height: 229px;

	position:absolute;
	float:left;
	margin-top:6px;
	margin-left:74px;

    }


#cycle2
{
	border-radius: 100%;
    background: #f2f2f2;
；	border: 15px solid #fff;
    padding: 12px;
    width: 224px;
    height: 224px;
	position:absolute;
	float:left;
	margin-top:62px;
	margin-left:342px;
}

#cycle2:hover
{
	border-radius: 100%;
	background: #fff;
    border: 15px solid #063d78;
    padding: 12px;
    width: 254px;
    height: 254px;
    position:absolute;
	float:left;
	margin-top:47px;
	margin-left:327px;
    }


	#cycle3
{
	border-radius: 100%;
    background: #f2f2f2;
；	border: 15px solid #fff;
    padding: 12px;
    width: 204px;
    height: 204px;
	position:absolute;
	float:left;
	margin-top:18px;
	margin-left:590px;
}

#cycle3:hover
{
	border-radius: 100%;
	background: #fff;
    border: 15px solid #063d78;
    padding: 12px;
    width: 234px;
    height: 234px;
    position:absolute;
	float:left;
	margin-top:3px;
	margin-left:575px;
    }


	#cycle4
{
	border-radius: 100%;
    background: #f2f2f2;
；	border: 15px solid #fff;
    padding: 12px;
    width: 230px;
    height: 230px;
	position:absolute;
	float:left;
	margin-top:285px;
	margin-left:226px;
}

#cycle4:hover
{
	border-radius: 100%;
	background: #fff;
    border: 15px solid #063d78;
    padding: 12px;
    width: 260px;
    height: 260px;
;	position:absolute;
    float:left;
	margin-top:270px;
	margin-left:211px;
    }


	#cycle5
{
	border-radius: 100%;
    background: #f2f2f2;
；	border: 15px solid #fff;
    padding: 12px;
    width: 222px;
    height: 222px;
;	position:absolute;
	float:left;
	margin-top:235px;
	margin-left:510px;
}

#cycle5:hover
{
	border-radius: 100%;
	background: #fff;
    border: 15px solid #063d78;
    padding: 12px;
    width: 252px;
    height: 252px;
	position:absolute;
    float:left;
	margin-top:220px;
	margin-left:495px;

   }

#cycle1:hover	#fontcolor {
color:#e4007f;
}
#cycle2:hover	#fontcolor {
color:#e4007f;
}
#cycle3:hover	#fontcolor {
color:#e4007f;
}
#cycle4:hover	#fontcolor {
color:#e4007f;
}
#cycle5:hover	#fontcolor {
color:#e4007f;
}
#pheight {
height:1px;
}</style>
    <div style="width:800px;height:550px">
        <div id="cycle1">
            <div style="margin-top:30px;">
                <center id="zuz">
                    <p id="pheight">
                        <span id="fontcolor" style="font-size:22px;font-weight:bold;">我们的愿景</span></p>
                    <p id="pheight">
                        <span id="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                    <p id="pheight">
                        <span id="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                    <p id="pheight">
                        <span id="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                    <br>
                    <span style="font-size:14px;">成为全球领先的卫生用品公司</span></center>
            </div>
        </div>
        <div id="cycle2">
            <div id="p1font">
                <center id="zuz">
                    <p id="pheight">
                        <span id="fontcolor" style="font-size:22px;font-weight:bold;">我们的使命</span></p>
                    <p id="pheight">
                        <span id="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                    <p id="pheight">
                        <span id="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                    <p id="pheight">
                        <span id="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                    <br>
                    <span style="font-size:14px;">让人们拥有高品质的卫生用品，</span><br>
                    <span style="font-size:14px;">呵护生活每一天</span></center>
            </div>
        </div>
        <div id="cycle3">
            <div id="p1font">
                <center id="zuz">
                    <p id="pheight">
                        <span id="fontcolor" style="font-size:22px;font-weight:bold;">我们的价值观</span></p>
                    <p id="pheight">
                        <span id="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                    <p id="pheight">
                        <span id="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                    <p id="pheight">
                        <span id="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                    <br>
                    <span style="font-size:14px;">诚信，务实，共赢</span></center>
            </div>
        </div>
        <div id="cycle4">
            <div id="p1font">
                <center id="zuz">
                    <p id="pheight">
                        <span id="fontcolor" style="font-size:22px;font-weight:bold;">我们的发展战略</span></p>
                    <p id="pheight">
                        <span id="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                    <p id="pheight">
                        <span id="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                    <p id="pheight">
                        <span id="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                    <br>
                    <span style="font-size:14px;">创新领先</span><br>
                    <span style="font-size:14px;">增长领先</span><br>
                    <span style="font-size:14px;">品质领先</span></center>
            </div>
        </div>
        <div id="cycle5">
            <div id="p1font">
                <center id="zuz">
                    <p id="pheight">
                        <span id="fontcolor" style="font-size:22px;font-weight:bold;">我们的经营方针</span></p>
                    <p id="pheight">
                        <span id="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                    <p id="pheight">
                        <span id="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                    <p id="pheight">
                        <span id="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                    <br>
                    <span style="font-size:14px;color:black;">研发先行，品牌驱动</span><br>
                    <span style="font-size:14px;">渠道创新，供应保障</span></center>
            </div>
        </div>
    </div>
    <br>
    <br>
    <span class="news-title">我们的精神</span><br>
    <br>
    <hr style="border-bottom:1px solid #0C3770">
    <div style="text-align: center;">
        <br>
        <strong><span class="news-title">拼搏进取、勤劳节俭、艰苦奋斗、敢为人先、敢于超越；<br>
	叫孝仁义、低调谦虚、求真务实、永不言败、永远创业。</span></strong></div>
    <br>
    <br>
    <br>
    <span class="news-title">我们坚信的真理</span><br>
    <br>
    <hr style="border-bottom:1px solid #0C3770">
    <br>
    <img alt="" src="/img/1-1P523120156163.png" style="width: 898px; height: 479px;"><br>
    <br>
    <br>
    <br>
    <br>


</div>


}