@(message: String)(implicit messages: Messages)
@import controllers.princegroup.routes
@defining(play.core.PlayVersion.current) { version =>

<!--首页内容-->
<div>Corporate Culture</div>
</div>
<div class="about-core">
<div>
    <div class="about-core-title">Our strategies and mission
    </div>

    <div class="culture-box" style="text-align: center;">
        <div style="width:800px;height:500px">
            <div class="culture-cycle1">
                <div style="margin-top:30px;">
                    <center class="culture-zuz">
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">Our Vision</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                        <br>
                        <span style="font-size:14px;">To be the world's leading Hygienic Products Company</span></center>
                </div>
            </div>
            <div class="culture-cycle2">
                <div class="p1font">
                    <center class="culture-zuz">
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">Our mission</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                        <br>
                        <span style="font-size:14px;">let people have high quality hygiene products which care for life each day</span>
                    </center>
                </div>
            </div>
            <div class="culture-cycle3">
                <div class="p1font">
                    <center class="culture-zuz">
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">Our values</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">.</span></p>
                        <br>
                        <span style="font-size:14px;">Be Honest, Pragmatic and Win-win</span></center>
                </div>
            </div>
            <div class="culture-cycle4">
                <div class="p1font">
                    <center class="culture-zuz">
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">Our development strategies</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;"></span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;"></span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;"></span></p>
                        <br>
                        <span style="font-size:14px;">Maintain leading innovation, sustainable  growth, trusty  quality
                        </span></center>
                </div>
            </div>
            <div class="culture-cycle5">
                <div class="p1font">
                    <center class="culture-zuz">
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;">Our management policies</span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;"></span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;"></span></p>
                        <p class="culture-pheight">
                            <span class="fontcolor" style="font-size:22px;font-weight:bold;"></span></p>
                        <br>
                        <span style="font-size:14px;color:black;">Research and development first, brand driven, channel innovation and supply guaranteed</span></center>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="about-core-title">Our spirits</div>
    <div class="culture-box" style="text-align: center;">
        <div>
           <span class="">strive for progress、industry and thrift 、hard struggle and plain living、dare to be first、dare to transcend、loyalty and filial piety、modest, pragmatic, never give up, always have the primary intention of running bussiness<br>
               </span></div></div>
</div>
<div>
    <div class="about-core-title">The truth we firmly believe</div>
    <div class="culture-box" style="text-align: center;">
        <div>
            <img alt="" src="/img/culture_truth_en.png" style="width: 898px; height: 479px;">
        </div>
    </div>
</div>


}

