@(message: String)(implicit messages: Messages)
@import controllers.princegroup.routes
@defining(play.core.PlayVersion.current) { version =>

<!--首页内容-->
<div class="about-data">
    <div>2017</div>
    <div class="about-data-box" >
        <div>
            <div id="his">
                <div>Our history</div>
                <div><span>100+</span> <br>(103 years)</div>
                <div>More than one hundred years of history.</div>
            </div>
            <div>User age distribution
                2017</div>
            <div><img src="/img/1-1P3261SH9645.png"></div>
        </div>
        <div>
            <div>
                <div>Your approval</div>
                <div><span>10,000,000</span> <br>(10million family)</div>
                <div>Accumulative use of family, positive word of mouth.</div>
            </div>
            <div>Regional distribution
                of consumers  2017</div>
            <div><img src="/img/1-1P3261S640604.png"></div>
        </div>
    </div>
    <div class="about-data-box" >
        <div>
            <div id="mark">
                <div>Market</div>
                <div><span>3,000+</span> <br>(3,000 store)</div>
                <div>Off line stores sell well.</div>
            </div>
            <div>Regional distribution
                of stores  2017</div>
            <div><img src="/img/1-1P3261SG1516.png"></div>
        </div>
        <div>
            <div>
                <div>Raw material</div>
                <div><span>10</span> <br>(10 kinds)</div>
                <div>10 natural ecological raw materials selected from the world's four countries.</div>
            </div>
            <div>Imported materials
                from the country  2017</div>
            <div><img src="/img/1-1P3261SK0395.png"></div>
        </div>
    </div>
    <div class="about-data-box" >
        <div>
            <div id="team">
                <div>Teams</div>
                <div><span>3</span> <br>(US, Japan, China)</div>
                <div>The world's top research and innovation teams. </div>
            </div>
        </div>
        <div>
            <div>
                <div>Quality</div>
                <div><span>5+</span> <br>(More than 5 authentications)</div>
                <div>Safety quality inspection and certification of international authority.</div>
            </div>
        </div>
    </div>
    <div>
        <div>Technical distribution map</div>
        <img src="/img/1-1P3261SQS31.png">
    </div>
</div>


}

