@(message: String)(implicit messages: Messages)
@import controllers.princegroup.routes
@defining(play.core.PlayVersion.current) { version =>

<div class="content-box-box" style="display: none;">
    <div class="about-box-til">
        <div><a href="@routes.Application.index">@Messages("princegroup.home") </a>
            <a href="@routes.Application.about()">@Messages("princegroup.aboutoji")</a> /  <span>@Messages("princegroup.about.groupdata")</span></div>
        <div>@Messages("princegroup.about.groupdata")</div>
    </div>

    @messages.lang.code match {

    case "en" => {
    <!-- Other -->
    @groupdataEn("")
    <!-- Other end-->
    }
    case _ => {
    <!-- Chinese -->
    @groupdataCn("")
    <!-- Chinese end-->
    }
    }

</div>
@******改写标题****@
<script>
document.title = "@Messages("princegroup.about.groupdata")"+"_"+ "@Messages("princegroup.subtitle")";
</script>
}