@(message: String)(implicit messages: Messages)
@import controllers.princegroup.routes
@defining(play.core.PlayVersion.current) { version =>

<!--首页内容-->
<div class="about-data">
    <div>2017</div>
    <div class="about-data-box" >
        <div>
            <div id="his">
                <div>我们的历史</div>
                <div><span>100+</span> <br>(103年)</div>
                <div>源自1914年，超过百年历史。</div>
            </div>
            <div>使用者年龄分布 2017</div>
            <div><img src="/img/DataL1cn.png"></div>
        </div>
        <div>
            <div>
                <div>你们的认可</div>
                <div><span>10,000,000</span> <br>(1000万家庭)</div>
                <div>千万家庭口碑实证。</div>
            </div>
            <div>消费者地区分布  2017</div>
            <div><img src="/img/DataR1cn.png"></div>
        </div>
    </div>
    <div class="about-data-box" >
        <div>
            <div id="mark">
                <div>市场</div>
                <div><span>3,000+</span> <br>(3,000多家门店)</div>
                <div>全国大型门店畅销。</div>
            </div>
            <div>国内市场布局  2017</div>
            <div><img src="/img/DataL2cn.png"></div>
        </div>
        <div>
            <div>
                <div>原材料</div>
                <div><span>10</span> <br>(10种进口材料)</div>
                <div>全球精选优质天然原材料。</div>
            </div>
            <div>精全球精选优质天然原材料。</div>
            <div><img src="/img/DataR2cn.png"></div>
        </div>
    </div>
    <div class="about-data-box" >
        <div>
            <div id="team">
                <div>团队</div>
                <div><span>3</span> <br>(美国, 日本, 中国)</div>
                <div>分布全球顶尖科研创新团队。</div>
            </div>
        </div>
        <div>
            <div>
                <div>质控</div>
                <div><span>5+</span> <br>(超过5项认证)</div>
                <div>国际权威机构安全质检认证。</div>
            </div>
        </div>
    </div>
    <div>
        <div>全球科技实力</div>
        <img src="/img/data-map-cn.png">
    </div>
</div>


}

