@(message: String)(implicit messages: Messages)
@import controllers.princegroup.routes
@defining(play.core.PlayVersion.current) { version =>

@******
***<!--发展历程--> *****
******@

<div class="about-right-box" style="display: block;">
    <div class="about-box-til">
        <div><a href="@routes.Application.">@Messages("princegroup.home") </a><a href="@routes.Application.about()">@Messages("princegroup.aboutoji")</a> /  <span>@Messages("princegroup.about.history")</span></div>
        <div>@Messages("princegroup.about.history")</div>
    </div>

    <div class="about-history">
        <div>
            <div>
                <p>
                    1914</p>
                五羊前身先施创立，成为中国首批化妆品生产企业。</div>
            <div>
                .<br>
                .<br>
                .</div>
            <div>
                <p>
                    2008</p>
                五羊公司成立，推出第一款母婴用品，赞誉不断。</div>
            <div class="about-history-text">
                <p>
                    2012</p>
                五羊荣获年度孕婴童行业评选活动“最受消费者关注新品牌”<br>
                成为广东省孕婴童用品协会第一届理事会理事单位</div>
            <div class="about-history-text">
                <p>
                    2014</p>
                荣获“广东省守合同重信用”公司<br>
                五羊母婴全面打开与各大电商平台的战略合作</div>
            <div class="about-history-text">
                <p>
                    2015</p>
                五羊fbibi纸尿裤火热上市，席卷各大电商平台<br>
                五羊被中国权威数据机构(CSISC)评为“民族婴童品牌最佳口碑”品牌<br>
                五羊荣获母婴奥斯卡“金树奖”<br>
                五羊荣获广东省孕婴童用品协会五羊珍珠“创新优秀品牌奖”</div>
            <div class="about-history-text">
                <p>
                    2016</p>
                完成对美国纸尿裤品牌bibi的收购<br>
                电商渠道全面爆发，销量实现7倍跨越式增长<br>
                荣获国际电商营销峰会“品质信赖奖”<br>
                荣获中国母婴企业家领袖峰会暨樱桃大赏“bibi纸尿裤年度最具潜力产品奖”</div>
            <div class="about-history-text">
                <p>
                    2017</p>
                成为广东省医药企业管理协会副会长单位<br>
                荣获广东省孕婴用品协会“创新新品奖”<br>
                纸尿裤荣获母婴类年度品质大奖金麦奖<br>
                成功完成产品升级，实现企业战略调整，集团更名为OJI王子集团</div>
        </div>
    </div>


</div>

}