@(message: String)(implicit messages: Messages)
@import controllers.princegroup.routes
@defining(play.core.PlayVersion.current) { version =>

<!--首页内容-->
<div class="about-history">
    <div>
        <div>
            <p>1914</p>
            Fiveram was founded, becoming the first Chinese cosmetics production enterprises.</div>
        <div>
            .<br>
            .<br>
            .</div>
        <div>
            <p>
                2008</p>
            Fiveram company was set up to launch the first mother and baby products, which was praised continuously.
        </div>
        <div class="about-history-text">
            <p>
                2012</p>
            Fiveram won the contest "annual pregnancy baby industry is the most popular consumer attention brand new".
            <br>
            GD province has become the baby Association of the first session of the Council of units.
        </div>
        <div class="about-history-text">
            <p>
                2014</p>
            Won the "Guangdong Shou contract heavy credit" company.
            <br>
            Fiveram fully open the strategic cooperation with the major e-commerce platforms.
        </div>
        <div class="about-history-text">
            <p>
                2015</p>
            Fiveram is appraised by the Chinese authoritative data organization (CSISC) as "the best word of mouth of the national baby child brand"
            <br>
            Fiveram won the mother and infant "Golden Tree Award".
        </div>
        <div class="about-history-text">
            <p>
                2016</p>
            A strategic partnership with American high-end diaper brand Bibi and the establishment of a Bibi laboratory.
            <br>
            Fiveram won the 2016 golden wheat Award for the quality trust of mother and baby industry.</div>
        <div class="about-history-text">
            <p>
                2017</p>
            Fiveram won the 2016 golden wheat Award for the quality trust of mother and baby industry.<br>
            Bibi won the golden wheat Award for mother and child of the year quality award.<br>
            Successfully complete upgrading of the product framework and realize the strategic adjustment of the enterprise. The group is renamed OJI.
            </div>
    </div>
</div>


}

