@(message: String)(implicit messages: Messages)
@import controllers.fiveramSite.routes

@theModals = {

}

@views.html.fiveramViews.main(title = "五羊 | 职业发展", modals = theModals) {

<!-- 主体内容 -->
<div id="bd">
    <!-- 职业发展 -->
    <div class="development" style="background-image:url(/img/bg2.jpg);">
        <div class="txt wow fadeInUp">
            <div>
                <h4>因你而不同</h4>
                <p>我们只不过是母婴事业上一群打着鸡血的忠粉</p>
                <p>你有任何想法都可以大声说出来。</p>
                <a href="http://jobs.51job.com/all/co2632896.html" target="_blank" class=" wow fadeInUp" data-wow-delay=".5s">加入我们 ></a>

                <ul>
                    <li><img src="/img/l-pic2.png" alt=""></li>
                    <li class="li2"><img src="/img/l-pic1.png" alt=""></li>
                    <li class="li3"><img src="/img/l-pic3.png" alt=""></li>
                </ul>
            </div>
        </div>
        <!-- 落叶 -->
        <div id="g-leaves">
            <div class="div div2">
                <img src="/img/ly1.png" alt="" class="img1">
                <img src="/img/ly2.png" alt="" class="img2">
                <img src="/img/ly3.png" alt="" class="img3">
                <img src="/img/ly4.png" alt="" class="img4">
                <img src="/img/ly5.png" alt="" class="img5">
                <img src="/img/ly6.png" alt="" class="img6">
                <img src="/img/ly7.png" alt="" class="img7">
            </div>
        </div>
        <!-- 落叶 -->
    </div>
</div>
<!-- 职业发展 -->
</div>
<!-- 主体内容 -->
}
