@import controllers.fiveramSite.routes
@(message: String)(implicit messages: Messages)
@defining(play.core.PlayVersion.current) { version =>
<!-- 底部 -->
<div id="fd">
    <!-- <img src="images/fd-logo.png" alt="" >  -->
    <img src="@routes.Assets.img("logo_fb.png")" alt="" width="180px">
    <h3>五羊集团</h3>
    <!-- 版权 -->
    <div class="weblink">
        合作伙伴: <!--</li>
             <li> --><!-- <a href="http://www.beibei.com" target="_blank" title="贝贝网">贝贝网</a> -->

        <a href="http://www.bibigroup.com" target="_blank" title="妈妈网">bibi官网</a>

        <a href="http://www.babytree.com/" target="_blank" title="宝宝树">宝宝树</a>

        <!-- <a href="http://www.yaolan.com" target="_blank" title="摇篮网">摇篮网</a> -->

        <!--<a href="http://www.leyou.com.cn/" target="_blank" title="乐友孕婴童网上商城"> 乐友孕婴童网上商城</a>   -->
        <a href="http://www.lamabang.com/" target="_blank" title="辣妈帮">辣妈帮</a>

        <!-- <a href="http://www.youhuishe.com/" target="_blank" title="辣妈帮">优惠社</a>     -->

        <!-- <a href="http://www.aibaimm.com/portal.php" target="_blank" title="爱败妈妈">爱败妈妈</a> -->

        <a href="http://www.iyaya.com/" target="_blank" title="丫丫网">丫丫网</a>

        <a href="http://www.qinbei.com" target="_blank" title="亲贝网">亲贝网</a>

        <!-- <a href="http://www.budou.com" target="_blank" title="布兜妈妈">布兜妈妈</a> -->

        <!-- <a href="http://www.starbaby.cn" target="_blank" title="星宝宝网">星宝宝网</a> -->

        <!--<a href="http://www.bbready.com/index.html" target="_blank" title="贝备网">贝备网</a>
        <a href="http://www.yyt360.com" target="_blank" title="婴童产业网">婴童产业网</a> -->

        <a href="http://www.enmuo.com" target="_blank" title="么么亲子网">么么亲子网</a>

        <!-- <a href="http://bozhong.com" target="_blank" title="播种网">播种网</a> -->

        <a href="http://www.qbb6.com" target="_blank" title="亲宝宝">亲宝宝</a>
        <a href="http://baby.iqiyi.com" target="_blank" title="爱奇艺母婴">爱奇艺母婴</a>
        <a href="http://www.fiveram.com.cn/" target="_blank" title="五羊母婴">五羊母婴</a>

    </div>
    <div class="copy">Copyright © 2008-2018 Fiverams Baby Products   Record Number：<a  href="http://www.miitbeian.gov.cn" ><font color="white" >粤ICP备16077948号-1</font></a></div>
    <!-- 版权 -->
</div>
<!-- 底部 -->

<!-- 右侧 -->
<div id="g-right">
    <ul>
        <li class="li1">
            <a href="">020-28050926</a>
        </li>
        <li class="li2">
            <a href="" class="a2">
                fiveram<br/>
                @@fiveam.com.cn
            </a>
        </li>
        <li class="li3">
            <a href="">wysq123 &gt;</a>
        </li>
        <li class="li4"><a href="">扫描二维码</a></li>
        <li class="li5">
            <img src="@routes.Assets.img("weixin.jpg")" alt="">
        </li>
    </ul>
</div>
<div class="g-right-menu">
    <ul>
        <li class="li1"><a href=""></a></li>
        <li class="li2"><a href=""></a></li>
        <li class="li3"><a href=""></a></li>
        <li class="li4"><a href=""></a></li>
        <li class="li5"><a href=""></a></li>
        <li class="li6"><a href=""></a></li>
    </ul>
</div>
<!-- 右侧 -->
<link rel="stylesheet" href="@routes.Assets.public("stylesheets/css/animate.css")">
<script src="@routes.Assets.public("javascripts/js/wow.min.js")"></script>
<script>
        //首页
        $(".index li").hover(function(){
            $(this).find('.box').stop().slideToggle(200);
        })
    </script>
}