@(message: String)(implicit messages: Messages)
@import controllers.fiveramSite.routes

@defining(play.core.PlayVersion.current) { version =>
<!-- 头部 -->
<div id="hd" class="wow fadeInDown" data-wow-duration="10">
    <div class="wp">
        <!-- logo -->
        <div class="logo">
            <a href="@routes.FiveramController.index()"><img src="@routes.Assets.img("logo-1.png")" alt="" border="0"></a>            </div>
        <!-- logo -->

        <div class="hd-right">
            <div class="lan">
                <ul>
                    @messages.lang.code match {
                    case "zh-CN" => {
                    <li><a href="@routes.FiveramController.selectLang("en")">Eng</a></li>
                    <li class="on"><a href="@routes.FiveramController.selectLang("zh-CN")">中文</a></li>
                    }
                    case _ => {
                    <li class="on"><a href="@routes.FiveramController.selectLang("en")">Eng</a></li>
                    <li><a href="@routes.FiveramController.selectLang("zh-CN")">中文</a></li>
                    }
                    }

                </ul>
            </div>
            <div class="c"></div>

            <div class="nav">
                <ul>
                    <li class="on"><a href="@routes.FiveramController.about()" class="a1">关于五羊</a></li>
                    <li>
                        <a href="" class="a1">五羊产品</a>
                        <dl>
                            <dd class="bt0"><a href="http://fiverambaby.com.cn" target="_blank"><img src="@routes.Assets.img("brank1.png")" alt=""></a></dd>
                            <dd style="background-color:#0090c3"><a href="http://www.fbibi.com.cn" target="_blank"><img src="@routes.Assets.img("brank2-1.png")" alt=""></a></dd>
                        </dl>
                    </li>
                    <li><a href="@routes.FiveramController.careers()" class="a1">加入我们</a></li>
                    <li><a href="@routes.FiveramController.contact()" class="a1">联系我们</a></li>
                    <li><a href="@routes.FiveramController.redumbrella()" class="a1">小红伞</a></li>
                </ul>
            </div>
        </div>
        <div class="c"></div>
    </div>
</div>
<!-- 头部 -->

}